In [ ]:
import numpy as np
n=int(1e6)
a=np.random.rand(n)
b=np.log(a)
b
n

In [ ]:
import re
myRegex=re.compile('regex pattern')
mo=myRegex.search('haystack string')
print(mo.group())

In [ ]:
numberRegex=re.compile(r'\d{1,3}(,\d{3})*')
mo=numberRegex.search('i have a 64,000,000 year old egg 59,000,365')
print(mo.group())

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]
p=[]
m=zip(a, b)
m

In [ ]:
a=np.array([1,2,3,4])
b=np.array([5,6,7,8])
a+b
a.dtype
a.ndim

In [ ]:
a=np.array([1,2,3,4], dtype=float)
a.dtype
c=np.array([[10,11,12], [20,21,22]])
c.dtype
c.ndim
c.shape
c.T
c.T.shape
c.shape

In [ ]:
a=np.arange(25).reshape(5,5)
a

In [ ]:
#blue
a[1::2,0:-1:2]
# yellow
# a[4,:]

# #red
# a[:,[1,3]]

In [ ]:
a=np.array([0,1,2,3,4,5])
b=np.concatenate((a,a+10,a+20, a+30, a+40, a+50)).reshape(6,6)
b[3, [0,2,5]]

In [ ]:
a=np.arange(25).reshape(5,5)
a[a%3==0]

In [ ]:

def reverse_string(strings):
    return strings[::-1]

%timeit reverse_string('asd')

In [ ]:
a=np.array([1,2,3,4,5])
b=np.array([10,20,30,40,50])
e=[1,2,3,4,5]
f=[10,20,30,40,50]
a+b

g=zip(e,f)
h=[]
for i, j in g:
    h.append(i+j)
print(g)    
print(list(zip(e,f)))

In [ ]:
from random import random
c=[random() for i in range(10000)]
min(c)

b=np.array(c)

m=np.arange(3).reshape(3,1)
n=np.arange(3)
l=[True, True, False]
m[l]

In [ ]:
import numpy as np
import scipy.stats as stats
def sanity_check(size1, size2, significance = 0.05):
    n = size1 + size2
    confidence = 1 - significance
    z = stats.norm.ppf(confidence + significance / 2)
    confint = n * 0.5 + np.array([-1, 1]) * np.sqrt(n * 0.5 * 0.5)
    return z, confint

In [ ]:
print(sanity_check(64454, 61818, significance = 0.05))

In [ ]:
magic_number=6

while True:
    guess=input('Guess a numer between 1 and 10:')
    if int(guess)==magic_number:
        print('you got it')
        break

In [ ]:
numbers=[1,2,3]

for x in numbers:
    for y in numbers:
        if x==y:
            continue
        print(x, y)

In [ ]:
participant={
    "name": "Yuri Lowell",
    "age": 21,
    'height': 180,
    "guild": 'Brave Ves'
    
}

In [ ]:
keys=[]
for i in participant:
    keys.append(i)

In [ ]:
keys

In [ ]:
keys_2=[key for key in participant]

In [ ]:
keys_2

In [ ]:
import requests
url="http://api.coindesk.com/v1/bpi/currentprice.json"

In [ ]:
result=requests.get(url)

In [ ]:
result.json()

In [ ]:
def benchmark(func):
    import time
    def wrapper():
        start=time.time()
        func()
        end=time.time()
        print('[*] Execution time: {} seconds.'.format(end-start))
    return wrapper

In [ ]:
@benchmark
def fetch_webpage():
    import requests
    webpage=requests.get('https://google.com')
    fetch_webpage()
    
fetch_webpage()

In [ ]:
def benchmark(func): 
    import time 
    def wrapper(*args, **kwargs): 
        start = time.time() 
        return_value=func(*args, **kwargs)
        end = time.time() 
        print('[*] Execution time: {} seconds.'.format(end-start))
        return return_value
    return wrapper 
@benchmark 
def fetch_webpage(url): 
    import requests 
    webpage = requests.get(url) 
    return webpage.text

webpage=fetch_webpage('https://google.com')
print(webpage)

In [ ]:
def benchmark(iters):
    def actual_decorator(func):
        import time
        
        def wrapper(*args, **kwargs):
            total = 0
            for i in range(iters):
                start = time.time()
                return_value = func(*args, **kwargs)
                end = time.time()
                total = total + (end-start)
            print('[*] Average execution time: {} seconds.'.format(total/iters))
            return return_value
        return wrapper
    return actual_decorator

In [ ]:
class Customer(object):
    def __init__(self, name, balance=0.0):
        self.name=name
        self.balance=balance
        
    def withdraw(self, amount):
        if amount>self.balance:
            raise RuntimeError('amount greater than balance')
        self.balance-=amount
        return self.balance
    
    def deposit(self, amount):
        self.balance+=amount
        return self.balance
    
    
customer_1=Customer('abc', 100)

In [ ]:
print(customer_1.name)

In [ ]:
class Vehicles(object):
    
    base_sale_price=0
    
    def __init__(self, wheels, miles, make, model, year, sold_on):
        self.wheels=wheels
        self.miles.miles
        self.make=make
        self.model=model
        self.year=year
        self.sold_on=sold_on
    
    def sale_price(self):
        if self.sold_on is not None:
            return 0.0
        return 5000.0*self.wheels
    
    def purchase_price(self):
        if self.sold_on is None:
            return 0.0
        return 8000-(0.1*self.miles)

In [296]:
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from __future__ import division

tx_data=pd.read_csv('/Users/n0362948/desktop/Python learn/OnlineRetail.csv',encoding = 'unicode_escape')

In [297]:
tx_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [298]:
tx_data['InvoiceDate']=pd.to_datetime(tx_data['InvoiceDate'])

tx_data['InvoiceYearMonth']=tx_data['InvoiceDate'].map(lambda date: 100*date.year+date.month)

tx_data['Revenue']=tx_data['UnitPrice']*tx_data['Quantity']

tx_revenue=tx_data.groupby(['InvoiceYearMonth'])['Revenue'].sum().reset_index()

In [299]:
tx_data['InvoiceYearMonth'].head()

0    201012
1    201012
2    201012
3    201012
4    201012
Name: InvoiceYearMonth, dtype: int64

In [300]:
tx_revenue['MonthlyGrowth']=tx_revenue['Revenue'].pct_change()

In [301]:
tx_revenue.head()

   InvoiceYearMonth     Revenue  MonthlyGrowth
0            201012  748957.020            NaN
1            201101  560000.260      -0.252293
2            201102  498062.650      -0.110603
3            201103  683267.080       0.371850
4            201104  493207.121      -0.278163

In [302]:
tx_uk=tx_data.loc[tx_data['Country']=='United Kingdom',:]
tx_uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceYearMonth,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,201012,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,201012,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,201012,15.30
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,201012,25.50
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,201012,11.10
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,201012,11.10
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,201012,54.08
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,201012,12.60
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,201012,12.60
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,201012,30.00
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,201012,9.90
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,201012,25.50
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,201012,14.85
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom,201012,19.90
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,201012,17.85
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,201012,17.85
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,201012,31.80
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,201012,31.80
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,201012,25.50
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,201012,14.85
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,201012,14.85
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,201012,14.85
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom,201012,17.85
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748.0,United Kingdom,201012,204.00
47,536372,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom,201012,11.10
48,536372,22633,HAND WARMER UNION JACK,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom,201012,11.10
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,201012,15.30
...,...,...,...,...,...,...,...,...,...,...
541864,581582,23498,CLASSIC BICYCLE CLIPS,12,2011-12-09 12:21:00,1.45,17581.0,United Kingdom,201112,17.40
541865,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777.0,United Kingdom,201112,58.00
541866,581583,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,36,2011-12-09 12:23:00,1.85,13777.0,United Kingdom,201112,66.60
541867,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777.0,United Kingdom,201112,51.84
541868,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777.0,United Kingdom,201112,88.80
541869,581585,22481,BLACK TEA TOWEL CLASSIC DESIGN,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom,201112,4.68
541870,581585,22915,ASSORTED BOTTLE TOP MAGNETS,24,2011-12-09 12:31:00,0.19,15804.0,United Kingdom,201112,4.56
541871,581585,22178,VICTORIAN GLASS HANGING T-LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,201112,23.40
541872,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom,201112,15.00
541873,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,201112,20.40
541874,581585,23084,RABBIT NIGHT LIGHT,12,2011-12-09 12:31:00,2.08,15804.0,United Kingdom,201112,24.96
541875,581585,84879,ASSORTED COLOUR BIRD ORNAMENT,16,2011-12-09 12:31:00,1.69,15804.0,United Kingdom,201112,27.04
541876,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,201112,20.40
541877,581585,22113,GREY HEART HOT WATER BOTTLE,4,2011-12-09 12:31:00,4.25,15804.0,United Kingdom,201112,17.00
541878,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804.0,United Kingdom,201112,17.85
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,201112,30.00
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,201112,15.00
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,201112,8.50
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,201112,10.08
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,201112,10.50
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom,201112,15.00
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,201112,10.20
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom,201112,4.68
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,201112,15.00
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom,201112,11.40
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,201112,23.40
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,201112,23.60
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,201112,30.00
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,201112,214.80
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,201112,70.80

In [303]:
tx_monthly_active=tx_uk.groupby('InvoiceYearMonth')['CustomerID'].nunique()

In [304]:
tx_monthly_active

InvoiceYearMonth
201012     871
201101     684
201102     714
201103     923
201104     817
201105     985
201106     943
201107     899
201108     867
201109    1177
201110    1285
201111    1548
201112     617
Name: CustomerID, dtype: int64

In [305]:
tx_monthly_sales=tx_uk.groupby('InvoiceYearMonth')['Quantity'].sum()

In [306]:
tx_monthly_sales

InvoiceYearMonth
201012    298101
201101    237381
201102    225641
201103    279843
201104    257666
201105    306452
201106    258522
201107    324129
201108    319804
201109    458490
201110    455612
201111    642281
201112    199907
Name: Quantity, dtype: int64

In [307]:
tx_monthly_order_avg=tx_uk.groupby('InvoiceYearMonth')['Revenue'].sum()/tx_uk.groupby('InvoiceYearMonth')['InvoiceNo'].nunique()

In [308]:
tx_monthly_order_avg

InvoiceYearMonth
201012    359.014653
201101    327.285833
201102    324.263630
201103    310.603435
201104    272.659705
201105    302.311130
201106    302.993634
201107    320.566803
201108    348.726067
201109    412.448877
201110    371.638369
201111    412.080238
201112    421.621941
dtype: float64

In [309]:
tx_min_purchase_date=tx_uk.groupby('CustomerID')['InvoiceDate'].min()

In [310]:
tx_min_purchase_date.columns=['CustomerID', 'MinPurcasedate']

In [311]:
tx_uk=pd.merge(tx_uk, tx_min_purchase_date, on='CustomerID')

In [312]:
tx_uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate_x,UnitPrice,CustomerID,Country,InvoiceYearMonth,Revenue,InvoiceDate_y
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,201012,22.00,2010-12-01 08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,201012,25.50,2010-12-01 08:26:00
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,201012,11.10,2010-12-01 08:26:00
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,201012,11.10,2010-12-01 08:26:00
9,536372,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom,201012,11.10,2010-12-01 08:26:00
10,536372,22633,HAND WARMER UNION JACK,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom,201012,11.10,2010-12-01 08:26:00
11,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00
12,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00
13,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 09:02:00,2.75,17850.0,United Kingdom,201012,22.00,2010-12-01 08:26:00
14,536373,20679,EDWARDIAN PARASOL RED,6,2010-12-01 09:02:00,4.95,17850.0,United Kingdom,201012,29.70,2010-12-01 08:26:00
15,536373,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom,201012,6.36,2010-12-01 08:26:00
16,536373,21871,SAVE THE PLANET MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom,201012,6.36,2010-12-01 08:26:00
17,536373,21071,VINTAGE BILLBOARD DRINK ME MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom,201012,6.36,2010-12-01 08:26:00
18,536373,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom,201012,6.36,2010-12-01 08:26:00
19,536373,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-12-01 09:02:00,4.95,17850.0,United Kingdom,201012,9.90,2010-12-01 08:26:00
20,536373,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,2010-12-01 09:02:00,6.95,17850.0,United Kingdom,201012,27.80,2010-12-01 08:26:00
21,536373,82482,WOODEN PICTURE FRAME WHITE FINISH,6,2010-12-01 09:02:00,2.10,17850.0,United Kingdom,201012,12.60,2010-12-01 08:26:00
22,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00
23,536373,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00
24,536373,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00
25,536373,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 09:02:00,7.65,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00
26,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850.0,United Kingdom,201012,25.50,2010-12-01 08:26:00
27,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00
28,536375,71053,WHITE METAL LANTERN,6,2010-12-01 09:32:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00
29,536375,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 09:32:00,2.75,17850.0,United Kingdom,201012,22.00,2010-12-01 08:26:00
...,...,...,...,...,...,...,...,...,...,...,...
361848,581241,22923,FRIDGE MAGNETS LES ENFANTS ASSORTED,12,2011-12-08 10:58:00,0.85,15520.0,United Kingdom,201112,10.20,2011-12-08 10:58:00
361849,581241,21169,YOU'RE CONFUSING ME METAL SIGN,12,2011-12-08 10:58:00,1.69,15520.0,United Kingdom,201112,20.28,2011-12-08 10:58:00
361850,581241,22915,ASSORTED BOTTLE TOP MAGNETS,120,2011-12-08 10:58:00,0.19,15520.0,United Kingdom,201112,22.80,2011-12-08 10:58:00
361851,581241,22672,FRENCH BATHROOM SIGN BLUE METAL,12,2011-12-08 10:58:00,1.65,15520.0,United Kingdom,201112,19.80,2011-12-08 10:58:00
361852,581241,22115,METAL SIGN EMPIRE TEA,12,2011-12-08 10:58:00,0.79,15520.0,United Kingdom,201112,9.48,2011-12-08 10:58:00
361853,581241,21908,CHOCOLATE THIS WAY METAL SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00
361854,581241,82600,N0 SINGING METAL SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00
361855,581241,85152,HAND OVER THE CHOCOLATE SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00
361856,581241,23426,METAL SIGN DROP YOUR PANTS,12,2011-12-08 10:58:00,2.89,15520.0,United Kingdom,201112,34.68,2011-12-08 10:58:00
361857,581241,21181,PLEASE ONE PERSON METAL SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00
361858,581241,82582,AREA PATROLLED METAL SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00
361859,581241,21174,POTTERING IN THE SHED METAL SIGN,12,2011-12-08 10:58:00,2.08,15520.0,United Kingdom,201112,24.96,2011-12-08 10:58:00
361860,581241,22675,FRENCH KITCHEN SIGN BLUE METAL,12,2011-12-08 10:58:00,1.25,15520.0,United Kingdom,201112,15.00,2011-12-08 10:58:00
361861,581241,22674,FRENCH TOILET SIGN BLUE METAL,12,2011-12-08 10:58:00,1.25,15520.0,United Kingdom,201112,15.00,2011-12-08 10:58:00
361862,581241,21770,OPEN CLOSED METAL SIGN,2,2011-12-08 10:58:00,4.95,15520.0,United Kingdom,201112,9.90,2011-12-08 10:58:00
361863,581241,22670,FRENCH WC SIGN BLUE METAL,12,2011-12-08 10:58:00,1.25,15520.0,United Kingdom,201112,15.00,2011-12-08 10:58:00
361864,581385,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,24,2011-12-08 13:11:00,3.75,13298.0,United Kingdom,201112,90.00,2011-12-08 13:11:00
361865,581385,21479,WHITE SKULL HOT WATER BOTTLE,72,2011-12-08 13:11:00,3.75,13298.0,United Kingdom,201112,270.00,2011-12-08 13:11:00
361866,581416,22466,FAIRY TALE COTTAGE NIGHT LIGHT,1,2011-12-08 14:58:00,1.95,14569.0,United Kingdom,201112,1.95,2011-12-08 14:58:00
361867,581416,21731,RED TOADSTOOL LED NIGHT LIGHT,1,2011-12-08 14:58:00,1.65,14569.0,United Kingdom,201112,1.65,2011-12-08 14:58:00
361868,581416,23458,DOLLY CABINET 3 DRAWERS,1,2011-12-08 14:58:00,14.95,14569.0,United Kingdom,201112,14.95,2011-12-08 14:58:00
361869,581416,22801,ANTIQUE GLASS PEDESTAL BOWL,16,2011-12-08 14:58:00,3.39,14569.0,United Kingdom,201112,54.24,2011-12-08 14:58:00
361870,581416,22798,ANTIQUE GLASS DRESSING TABLE POT,48,2011-12-08 14:58:00,2.55,14569.0,United Kingdom,201112,122.40,2011-12-08 14:58:00
361871,581416,22808,SET OF 6 T-LIGHTS EASTER CHICKS,2,2011-12-08 14:58:00,1.25,14569.0,United Kingdom,201112,2.50,2011-12-08 14:58:00
361872,581416,72349B,SET/6 PURPLE BUTTERFLY T-LIGHTS,3,2011-12-08 14:58:00,2.10,14569.0,United Kingdom,201112,6.30,2011-12-08 14:58:00
361873,581416,22809,SET OF 6 T-LIGHTS SANTA,1,2011-12-08 14:58:00,2.95,14569.0,United Kingdom,201112,2.95,2011-12-08 14:58:00
361874,581416,22807,SET OF 6 T-LIGHTS TOADSTOOLS,2,2011-12-08 14:58:00,1.25,14569.0,United Kingdom,201112,2.50,2011-12-08 14:58:00
361875,581416,72349B,SET/6 PURPLE BUTTERFLY T-LIGHTS,1,2011-12-08 14:58:00,2.10,14569.0,United Kingdom,201112,2.10,2011-12-08 14:58:00
361876,581416,22809,SET OF 6 T-LIGHTS SANTA,2,2011-12-08 14:58:00,2.95,14569.0,United Kingdom,201112,5.90,2011-12-08 14:58:00
361877,581416,23487,SWEET HEART CAKE CARRIER,1,2011-12-08 14:58:00,9.95,14569.0,United Kingdom,201112,9.95,2011-12-08 14:58:00

In [313]:
def New_Existing(row):
    if row['InvoiceDate_y']==row['InvoiceDate_x']:
        return 'New'
    else:
        return 'Existing'
    
    
tx_uk['Customer_type0']=tx_uk.apply(New_Existing, axis=1)

In [314]:
tx_uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate_x,UnitPrice,CustomerID,Country,InvoiceYearMonth,Revenue,InvoiceDate_y,Customer_type0
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00,New
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00,New
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,201012,22.00,2010-12-01 08:26:00,New
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00,New
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00,New
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00,New
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,201012,25.50,2010-12-01 08:26:00,New
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,201012,11.10,2010-12-01 08:26:00,Existing
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,201012,11.10,2010-12-01 08:26:00,Existing
9,536372,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom,201012,11.10,2010-12-01 08:26:00,Existing
10,536372,22633,HAND WARMER UNION JACK,6,2010-12-01 09:01:00,1.85,17850.0,United Kingdom,201012,11.10,2010-12-01 08:26:00,Existing
11,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00,Existing
12,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00,Existing
13,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 09:02:00,2.75,17850.0,United Kingdom,201012,22.00,2010-12-01 08:26:00,Existing
14,536373,20679,EDWARDIAN PARASOL RED,6,2010-12-01 09:02:00,4.95,17850.0,United Kingdom,201012,29.70,2010-12-01 08:26:00,Existing
15,536373,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom,201012,6.36,2010-12-01 08:26:00,Existing
16,536373,21871,SAVE THE PLANET MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom,201012,6.36,2010-12-01 08:26:00,Existing
17,536373,21071,VINTAGE BILLBOARD DRINK ME MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom,201012,6.36,2010-12-01 08:26:00,Existing
18,536373,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom,201012,6.36,2010-12-01 08:26:00,Existing
19,536373,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-12-01 09:02:00,4.95,17850.0,United Kingdom,201012,9.90,2010-12-01 08:26:00,Existing
20,536373,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,2010-12-01 09:02:00,6.95,17850.0,United Kingdom,201012,27.80,2010-12-01 08:26:00,Existing
21,536373,82482,WOODEN PICTURE FRAME WHITE FINISH,6,2010-12-01 09:02:00,2.10,17850.0,United Kingdom,201012,12.60,2010-12-01 08:26:00,Existing
22,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00,Existing
23,536373,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00,Existing
24,536373,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00,Existing
25,536373,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 09:02:00,7.65,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00,Existing
26,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850.0,United Kingdom,201012,25.50,2010-12-01 08:26:00,Existing
27,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom,201012,15.30,2010-12-01 08:26:00,Existing
28,536375,71053,WHITE METAL LANTERN,6,2010-12-01 09:32:00,3.39,17850.0,United Kingdom,201012,20.34,2010-12-01 08:26:00,Existing
29,536375,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 09:32:00,2.75,17850.0,United Kingdom,201012,22.00,2010-12-01 08:26:00,Existing
...,...,...,...,...,...,...,...,...,...,...,...,...
361848,581241,22923,FRIDGE MAGNETS LES ENFANTS ASSORTED,12,2011-12-08 10:58:00,0.85,15520.0,United Kingdom,201112,10.20,2011-12-08 10:58:00,New
361849,581241,21169,YOU'RE CONFUSING ME METAL SIGN,12,2011-12-08 10:58:00,1.69,15520.0,United Kingdom,201112,20.28,2011-12-08 10:58:00,New
361850,581241,22915,ASSORTED BOTTLE TOP MAGNETS,120,2011-12-08 10:58:00,0.19,15520.0,United Kingdom,201112,22.80,2011-12-08 10:58:00,New
361851,581241,22672,FRENCH BATHROOM SIGN BLUE METAL,12,2011-12-08 10:58:00,1.65,15520.0,United Kingdom,201112,19.80,2011-12-08 10:58:00,New
361852,581241,22115,METAL SIGN EMPIRE TEA,12,2011-12-08 10:58:00,0.79,15520.0,United Kingdom,201112,9.48,2011-12-08 10:58:00,New
361853,581241,21908,CHOCOLATE THIS WAY METAL SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00,New
361854,581241,82600,N0 SINGING METAL SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00,New
361855,581241,85152,HAND OVER THE CHOCOLATE SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00,New
361856,581241,23426,METAL SIGN DROP YOUR PANTS,12,2011-12-08 10:58:00,2.89,15520.0,United Kingdom,201112,34.68,2011-12-08 10:58:00,New
361857,581241,21181,PLEASE ONE PERSON METAL SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00,New
361858,581241,82582,AREA PATROLLED METAL SIGN,12,2011-12-08 10:58:00,2.10,15520.0,United Kingdom,201112,25.20,2011-12-08 10:58:00,New
361859,581241,21174,POTTERING IN THE SHED METAL SIGN,12,2011-12-08 10:58:00,2.08,15520.0,United Kingdom,201112,24.96,2011-12-08 10:58:00,New
361860,581241,22675,FRENCH KITCHEN SIGN BLUE METAL,12,2011-12-08 10:58:00,1.25,15520.0,United Kingdom,201112,15.00,2011-12-08 10:58:00,New
361861,581241,22674,FRENCH TOILET SIGN BLUE METAL,12,2011-12-08 10:58:00,1.25,15520.0,United Kingdom,201112,15.00,2011-12-08 10:58:00,New
361862,581241,21770,OPEN CLOSED METAL SIGN,2,2011-12-08 10:58:00,4.95,15520.0,United Kingdom,201112,9.90,2011-12-08 10:58:00,New
361863,581241,22670,FRENCH WC SIGN BLUE METAL,12,2011-12-08 10:58:00,1.25,15520.0,United Kingdom,201112,15.00,2011-12-08 10:58:00,New
361864,581385,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,24,2011-12-08 13:11:00,3.75,13298.0,United Kingdom,201112,90.00,2011-12-08 13:11:00,New
361865,581385,21479,WHITE SKULL HOT WATER BOTTLE,72,2011-12-08 13:11:00,3.75,13298.0,United Kingdom,201112,270.00,2011-12-08 13:11:00,New
361866,581416,22466,FAIRY TALE COTTAGE NIGHT LIGHT,1,2011-12-08 14:58:00,1.95,14569.0,United Kingdom,201112,1.95,2011-12-08 14:58:00,New
361867,581416,21731,RED TOADSTOOL LED NIGHT LIGHT,1,2011-12-08 14:58:00,1.65,14569.0,United Kingdom,201112,1.65,2011-12-08 14:58:00,New
361868,581416,23458,DOLLY CABINET 3 DRAWERS,1,2011-12-08 14:58:00,14.95,14569.0,United Kingdom,201112,14.95,2011-12-08 14:58:00,New
361869,581416,22801,ANTIQUE GLASS PEDESTAL BOWL,16,2011-12-08 14:58:00,3.39,14569.0,United Kingdom,201112,54.24,2011-12-08 14:58:00,New
361870,581416,22798,ANTIQUE GLASS DRESSING TABLE POT,48,2011-12-08 14:58:00,2.55,14569.0,United Kingdom,201112,122.40,2011-12-08 14:58:00,New
361871,581416,22808,SET OF 6 T-LIGHTS EASTER CHICKS,2,2011-12-08 14:58:00,1.25,14569.0,United Kingdom,201112,2.50,2011-12-08 14:58:00,New
361872,581416,72349B,SET/6 PURPLE BUTTERFLY T-LIGHTS,3,2011-12-08 14:58:00,2.10,14569.0,United Kingdom,201112,6.30,2011-12-08 14:58:00,New
361873,581416,22809,SET OF 6 T-LIGHTS SANTA,1,2011-12-08 14:58:00,2.95,14569.0,United Kingdom,201112,2.95,2011-12-08 14:58:00,New
361874,581416,22807,SET OF 6 T-LIGHTS TOADSTOOLS,2,2011-12-08 14:58:00,1.25,14569.0,United Kingdom,201112,2.50,2011-12-08 14:58:00,New
361875,581416,72349B,SET/6 PURPLE BUTTERFLY T-LIGHTS,1,2011-12-08 14:58:00,2.10,14569.0,United Kingdom,201112,2.10,2011-12-08 14:58:00,New
361876,581416,22809,SET OF 6 T-LIGHTS SANTA,2,2011-12-08 14:58:00,2.95,14569.0,United Kingdom,201112,5.90,2011-12-08 14:58:00,New
361877,581416,23487,SWEET HEART CAKE CARRIER,1,2011-12-08 14:58:00,9.95,14569.0,United Kingdom,201112,9.95,2011-12-08 14:58:00,New

In [315]:
tx_uk_user_type_revenue=tx_uk.groupby(['InvoiceYearMonth','Customer_type0'])['Revenue'].sum()

In [316]:
tx_uk_user_type_revenue.reset_index()

    InvoiceYearMonth Customer_type0     Revenue
0             201012       Existing  193566.620
1             201012            New  290233.120
2             201101       Existing  135707.280
3             201101            New  216274.000
4             201102       Existing  234696.860
5             201102            New  114156.770
6             201103       Existing  306383.090
7             201103            New  150534.780
8             201104       Existing  277852.790
9             201104            New   98891.621
10            201105       Existing  439498.050
11            201105            New   86075.300
12            201106       Existing  410597.460
13            201106            New   61911.790
14            201107       Existing  413257.340
15            201107            New   47890.261
16            201108       Existing  423032.260
17            201108            New   53976.150
18            201109       Existing  646838.041
19            201109            New  129691.801
20            201110       Existing  665527.020
21            201110            New  117250.860
22            201111       Existing  862654.070
23            201111            New   93455.590
24            201112       Existing  277715.580
25            201112            New   20204.890

In [317]:
tx_purchase=tx_uk.groupby(['CustomerID', 'InvoiceYearMonth'])['Revenue'].sum().reset_index()

In [318]:
tx_purchase.head()

   CustomerID  InvoiceYearMonth  Revenue
0     12346.0            201101     0.00
1     12747.0            201012   706.27
2     12747.0            201101   303.04
3     12747.0            201103   310.78
4     12747.0            201105   771.31

In [319]:
tx_retention=pd.crosstab(tx_purchase['CustomerID'], tx_purchase['InvoiceYearMonth'])

In [320]:
tx_retention.head()

InvoiceYearMonth,201012,201101,201102,201103,201104,201105,201106,201107,201108,201109,201110,201111,201112
CustomerID,,,,,,,,,,,,,
12346.0,0,1,0,0,0,0,0,0,0,0,0,0,0
12747.0,1,1,0,1,0,1,1,0,1,0,1,1,1
12748.0,1,1,1,1,1,1,1,1,1,1,1,1,1
12749.0,0,0,0,0,0,1,0,0,1,0,0,1,1
12820.0,0,1,0,0,0,0,0,0,0,1,1,0,1

In [321]:
months=tx_retention.columns[2:]

In [322]:
months

Int64Index([201102, 201103, 201104, 201105, 201106, 201107, 201108, 201109,
            201110, 201111, 201112],
           dtype='int64', name='InvoiceYearMonth')

In [323]:
retention_array=[]
for i in range(len(months)-1):
    retention_data={}
    selected_month=months[i+1]
    prev_month=months[i]
    
    retention_data['InvoiceYearMonth']=int(selected_month)
    retention_data['TotalUserCount']=tx_retention[selected_month].sum()
    retention_data['RetainedUserCount']=tx_retention.loc[((tx_retention[selected_month]>0) & (tx_retention[prev_month]>0)),:][selected_month].sum()
    retention_array.append(retention_data)

In [324]:
tx_retention1=pd.DataFrame(retention_array)
tx_retention1

   InvoiceYearMonth  RetainedUserCount  TotalUserCount
0            201103                305             923
1            201104                310             817
2            201105                369             985
3            201106                417             943
4            201107                379             899
5            201108                391             867
6            201109                417            1177
7            201110                502            1285
8            201111                616            1548
9            201112                402             617

In [325]:
tx_retention1['RetentionRate']=tx_retention1['RetainedUserCount']/tx_retention1['TotalUserCount']
tx_retention1

   InvoiceYearMonth  RetainedUserCount  TotalUserCount  RetentionRate
0            201103                305             923       0.330444
1            201104                310             817       0.379437
2            201105                369             985       0.374619
3            201106                417             943       0.442206
4            201107                379             899       0.421580
5            201108                391             867       0.450980
6            201109                417            1177       0.354291
7            201110                502            1285       0.390661
8            201111                616            1548       0.397933
9            201112                402             617       0.651540

In [326]:
tx_retention2 = pd.crosstab(tx_purchase['CustomerID'], tx_purchase['InvoiceYearMonth']).reset_index()

tx_retention2

tx_retention2.columns

Index(['CustomerID',       201012,       201101,       201102,       201103,
             201104,       201105,       201106,       201107,       201108,
             201109,       201110,       201111,       201112],
      dtype='object', name='InvoiceYearMonth')

In [327]:
tx_retention.head()

InvoiceYearMonth,201012,201101,201102,201103,201104,201105,201106,201107,201108,201109,201110,201111,201112
CustomerID,,,,,,,,,,,,,
12346.0,0,1,0,0,0,0,0,0,0,0,0,0,0
12747.0,1,1,0,1,0,1,1,0,1,0,1,1,1
12748.0,1,1,1,1,1,1,1,1,1,1,1,1,1
12749.0,0,0,0,0,0,1,0,0,1,0,0,1,1
12820.0,0,1,0,0,0,0,0,0,0,1,1,0,1

In [347]:
tx_retention[201102].sum()

714

In [329]:
new_column_names = [ 'm_' + str(column) for column in tx_retention2.columns]
tx_retention2.columns = new_column_names

In [330]:
new_column_names

['m_CustomerID',
 'm_201012',
 'm_201101',
 'm_201102',
 'm_201103',
 'm_201104',
 'm_201105',
 'm_201106',
 'm_201107',
 'm_201108',
 'm_201109',
 'm_201110',
 'm_201111',
 'm_201112']

In [331]:
months=tx_retention.columns
months

Int64Index([201012, 201101, 201102, 201103, 201104, 201105, 201106, 201107,
            201108, 201109, 201110, 201111, 201112],
           dtype='int64', name='InvoiceYearMonth')

In [332]:

#create the array of Retained users for each cohort monthly
retention_array = []
for i in range(len(months)):
    retention_data = {}
    selected_month = months[i]
    prev_months = months[:i]
    next_months = months[i+1:]
    for prev_month in prev_months:
        retention_data[prev_month] = np.nan
        
    total_user_count =  retention_data['TotalUserCount'] = tx_retention2['m_' + str(selected_month)].sum()
    retention_data[selected_month] = 1 
    
    query = "{} > 0".format('m_' + str(selected_month))
    

    for next_month in next_months:
        query = query + " and {} > 0".format(str('m_' + str(next_month)))
        retention_data[next_month] = np.round(tx_retention2.query(query)['m_' + str(next_month)].sum()/total_user_count,2)
    retention_array.append(retention_data)
    
tx_retention2 = pd.DataFrame(retention_array)
tx_retention2.index = months

#showing new cohort based retention table
tx_retention2

,TotalUserCount,201012,201101,201102,201103,201104,201105,201106,201107,201108,201109,201110,201111,201112
InvoiceYearMonth,,,,,,,,,,,,,,
201012,871,1.0,0.37,0.21,0.16,0.12,0.10,0.09,0.08,0.08,0.07,0.06,0.06,0.05
201101,684,NaN,1.00,0.38,0.26,0.18,0.15,0.13,0.12,0.11,0.10,0.08,0.08,0.07
201102,714,NaN,NaN,1.00,0.43,0.23,0.19,0.16,0.14,0.12,0.11,0.10,0.09,0.07
201103,923,NaN,NaN,NaN,1.00,0.34,0.23,0.17,0.13,0.11,0.11,0.09,0.09,0.06
201104,817,NaN,NaN,NaN,NaN,1.00,0.45,0.28,0.20,0.16,0.15,0.12,0.11,0.08
201105,985,NaN,NaN,NaN,NaN,NaN,1.00,0.42,0.25,0.19,0.16,0.13,0.12,0.08
201106,943,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.40,0.25,0.19,0.15,0.13,0.09
201107,899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.43,0.27,0.19,0.17,0.11
201108,867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.48,0.28,0.23,0.14
201109,1177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.43,0.29,0.15
201110,1285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.48,0.19
201111,1548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.26
201112,617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00

In [336]:
query

'm_201112 > 0'

In [338]:
retention_array

[{'TotalUserCount': 871,
  201012: 1,
  201101: 0.37,
  201102: 0.20999999999999999,
  201103: 0.16,
  201104: 0.12,
  201105: 0.10000000000000001,
  201106: 0.089999999999999997,
  201107: 0.080000000000000002,
  201108: 0.080000000000000002,
  201109: 0.070000000000000007,
  201110: 0.059999999999999998,
  201111: 0.059999999999999998,
  201112: 0.050000000000000003},
 {201012: nan,
  'TotalUserCount': 684,
  201101: 1,
  201102: 0.38,
  201103: 0.26000000000000001,
  201104: 0.17999999999999999,
  201105: 0.14999999999999999,
  201106: 0.13,
  201107: 0.12,
  201108: 0.11,
  201109: 0.10000000000000001,
  201110: 0.080000000000000002,
  201111: 0.080000000000000002,
  201112: 0.070000000000000007},
 {201012: nan,
  201101: nan,
  'TotalUserCount': 714,
  201102: 1,
  201103: 0.42999999999999999,
  201104: 0.23000000000000001,
  201105: 0.19,
  201106: 0.16,
  201107: 0.14000000000000001,
  201108: 0.12,
  201109: 0.11,
  201110: 0.10000000000000001,
  201111: 0.089999999999999997,
  201112: 0.070000000000000007},
 {201012: nan,
  201101: nan,
  201102: nan,
  'TotalUserCount': 923,
  201103: 1,
  201104: 0.34000000000000002,
  201105: 0.23000000000000001,
  201106: 0.17000000000000001,
  201107: 0.13,
  201108: 0.11,
  201109: 0.11,
  201110: 0.089999999999999997,
  201111: 0.089999999999999997,
  201112: 0.059999999999999998},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  'TotalUserCount': 817,
  201104: 1,
  201105: 0.45000000000000001,
  201106: 0.28000000000000003,
  201107: 0.20000000000000001,
  201108: 0.16,
  201109: 0.14999999999999999,
  201110: 0.12,
  201111: 0.11,
  201112: 0.080000000000000002},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  201104: nan,
  'TotalUserCount': 985,
  201105: 1,
  201106: 0.41999999999999998,
  201107: 0.25,
  201108: 0.19,
  201109: 0.16,
  201110: 0.13,
  201111: 0.12,
  201112: 0.080000000000000002},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  201104: nan,
  201105: nan,
  'TotalUserCount': 943,
  201106: 1,
  201107: 0.40000000000000002,
  201108: 0.25,
  201109: 0.19,
  201110: 0.14999999999999999,
  201111: 0.13,
  201112: 0.089999999999999997},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  201104: nan,
  201105: nan,
  201106: nan,
  'TotalUserCount': 899,
  201107: 1,
  201108: 0.42999999999999999,
  201109: 0.27000000000000002,
  201110: 0.19,
  201111: 0.17000000000000001,
  201112: 0.11},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  201104: nan,
  201105: nan,
  201106: nan,
  201107: nan,
  'TotalUserCount': 867,
  201108: 1,
  201109: 0.47999999999999998,
  201110: 0.28000000000000003,
  201111: 0.23000000000000001,
  201112: 0.14000000000000001},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  201104: nan,
  201105: nan,
  201106: nan,
  201107: nan,
  201108: nan,
  'TotalUserCount': 1177,
  201109: 1,
  201110: 0.42999999999999999,
  201111: 0.28999999999999998,
  201112: 0.14999999999999999},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  201104: nan,
  201105: nan,
  201106: nan,
  201107: nan,
  201108: nan,
  201109: nan,
  'TotalUserCount': 1285,
  201110: 1,
  201111: 0.47999999999999998,
  201112: 0.19},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  201104: nan,
  201105: nan,
  201106: nan,
  201107: nan,
  201108: nan,
  201109: nan,
  201110: nan,
  'TotalUserCount': 1548,
  201111: 1,
  201112: 0.26000000000000001},
 {201012: nan,
  201101: nan,
  201102: nan,
  201103: nan,
  201104: nan,
  201105: nan,
  201106: nan,
  201107: nan,
  201108: nan,
  201109: nan,
  201110: nan,
  201111: nan,
  'TotalUserCount': 617,
  201112: 1}]

In [339]:
retention_data

{201012: nan,
 201101: nan,
 201102: nan,
 201103: nan,
 201104: nan,
 201105: nan,
 201106: nan,
 201107: nan,
 201108: nan,
 201109: nan,
 201110: nan,
 201111: nan,
 'TotalUserCount': 617,
 201112: 1}